DB_PASSWORD=yourpasswordhere
DB_USER=yourdbuser
DB_DATABASE=yourdatabase
DB_HOST=yourdbhost
DB_PORT=yourdbport
JTW_SECRET_KEY=zda7vcdbJHvKMnkLHJCIf6cBuchJTfYhBfYjwYP9CNxNbYMLbNqSA96NbOX1zJsXMcnELYBXaJtn1w7ExsqoRagge6vjwHrhimSG